@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/ProximaNova.eot?") format("eot"),
    url("./fonts/ProximaNova.woff") format("woff"),
    url("./fonts/ProximaNova.ttf") format("truetype"),
    url("./fonts/ProximaNova.svg#ProximaNova") format("svg");
}

* {
  margin: 0px;
  padding: 0px;
<<<<<<< HEAD
  font-family: "ProximaNova", "sans-serif";
=======
  font-family: sans-serif;
>>>>>>> e9b1a427eedaa242a177845606fd63ebf0b946a5
}
body {
  /*max-width: 805px;*/
}
.bg-grey {
  background-color: #efeeec;
}
.container-header {
  background-color: white;
}
/* cambiar la fuente y ya*/
.logo-imagen-i {
  /* width: 1366px;*/
  height: 20%;
  /* background: transparent url("img/Grupo 6586.png") 0% 0% no-repeat padding-box;
 */
  opacity: 1;
  position: relative;
  left: 0;
  margin: 10px;
  background-color: white;
}
.image-dic {
  margin: 0;
  width: 100%;
}
.gradiente-honda {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 238, 236, 1) 100%
  );
}
.fecha-dic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.fecha-dic img {
  width: auto;
  height: 66px;
  margin: 40px 0 10px;
}
.parrafo-uno {
<<<<<<< HEAD
  margin: 0 0 40px;
  
}
.parrafo-dos {
  color: #1c4b81;
  font-size: 32px;
}
.parrafo-tres {
  color: #1c4b81;
  font-size: 20px;
=======
  margin: 10px;
  color: #707070;
  font-size: 20px;
  text-align: center;
>>>>>>> e9b1a427eedaa242a177845606fd63ebf0b946a5
}
.parrafo-uno strong {
  color: #3d3d3d;
}

.parrafo-dos {
  margin: 30px 10px 0px 10px;
  color: #1a0d94;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}
.parrafo-tres {
  margin: 0px 10px 0px 10px;
  color: #1a0d94;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.parrafo-cuatro {
  margin: 0px 10px 0px 10px;
  color: #1a0d94;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.tu-tienda-virtual img {
  width: 160px;
  height: auto;
  margin: 10px 0 25px;
}
.tu-tienda-virtual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -50px;
  flex-direction: column;
}
<<<<<<< HEAD
.container-honda {
  position: relative;
  z-index: 9999;
  margin-top: -320px;
}

.honda {
  position: relative;
  top: -82px;
}
.parrafo-cuatro {
  margin: 0 0 10px;
  color: #1c4b81;
}
=======

>>>>>>> e9b1a427eedaa242a177845606fd63ebf0b946a5
.icon-azul-linea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  flex-direction: column;
}
.icon-azul-linea img {
  width: 805px;
  height: auto;
  object-fit: cover;
}
.caja-parrafo-uno {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.caja-parrafo-uno a {
  color: #1c4b81;
}
.parrafo-quinto {
  font-weight: 500;
  width: 400px;
  color: #707070;
  padding-right: 34px;
  padding-left: 33px;
}
.parrafo-quinto strong {
  color: #3d3d3d;
}
.parrafo-quinto a {
  color: #1f96ab;
  font-weight: 600;
}

.parrafo-sexto {
  font-weight: 500;
  width: 400px;
  color: #707070;
}
.parrafo-sexto strong {
  color: #3d3d3d;
}
.parrafo-sexto a {
  color: #1f96ab;
  font-weight: 600;
}

.parrafo-septimo {
  margin: 20px 0px;
  font-weight: 500;
  color: #707070;
}
.parrafo-septimo a {
  color: #3d3d3d;
  font-weight: 600;
  text-decoration: none;
}
.parramo-octavo {
  font-weight: 500;
  color: #707070;
}
.p-eva {
  font-weight: 500;
  color: #707070;
}
.p-eva strong {
  color: #3d3d3d;
}

.que-no {
  color: #3b3b3b;
  font-weight: 600;
}
.boton-tienda-virtual {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.boton-tienda-virtual button {
  background-color: #1f96ab;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 44px;
  display: flex;
  margin: 0 0 20px;
}

.boton-pagar-factura {
  background-color: #1f96ab;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 90px;
  display: flex;
}
.icon-carrito {
  width: auto;
  height: 20px;
  margin-right: 8px;
}
<<<<<<< HEAD
.parrafo-septimo {
  margin: 0 0 70px;
}
.parrafo-septimo a {
  text-decoration: none;
  color: black;
}
.parrafo-septimo a strong {
  font-style: italic;
}
.parrafo-octavo {
  color: #1c4b81;
  margin: 0 0 15px;
  font-size: 31px;
}
.parrafo-noveno {
  margin: 0 0 20px;
}
.boton-activar-tienda {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-activar-tienda button {
  background-color: #1f96ab;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 44px;
  display: flex;
  margin: 0 0 40px;
}
=======
>>>>>>> e9b1a427eedaa242a177845606fd63ebf0b946a5
.icon-power {
  width: auto;
  height: 20px;
  margin-right: 8px;
}
.separador {
<<<<<<< HEAD
=======
  width: 100%;
  height: 10px;
}
.container-information {
>>>>>>> e9b1a427eedaa242a177845606fd63ebf0b946a5
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
<<<<<<< HEAD
  flex-direction: column;
}
.separador img {
  width: 1000px;
  margin: 15px 100px 30px 100px;
}
.parrafo-pago {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col-izq {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 494px;
}
.boton-pay {
  display: flex;
  justify-content: right;
  align-items: center;
}
.parrafo-boton-pagar {
  width: 100px;
}
.boton-pagar-factura {
  background-color: #1f96ab;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 17px 114px;
  display: flex;
  margin: 25px 0 40px;
  font-size: 20px;
}
.parrafos {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 190px 10px 160px;
  width: 480px;
  font-size: 17px;
}
.parrafos img {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  margin: 0 20px;
}
.col-der {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.col-der img {
  position: relative;
  width: 419px;
  height: 381px;
  top: 27px;
  left: 42px;
}
.final-container {
  display: flex;
  padding: 41px 171px 0 167px;
  justify-content: space-between;
  height: 370px;
}
.final-container div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 200px;
  height: 100px;
}
.final-container div img {
  width: 120px;
  margin: 0 0 20px 0;
}
.final-container div p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.barra-azul {
  display: flex;
  background-color: #1f96ab;
  text-align: center;
  align-items: center;
  justify-content: start;
  padding: 30px 213px;
}
.barra-azul div {
  text-align: left;
  margin: 0 0 0 30px;
  color: white;
  font-size: 19px;
}
.barra-azul a {
  color: white;
}
.final-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 45px;
=======
  height: 100%;
}
.container-information div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  align-items: center;
>>>>>>> e9b1a427eedaa242a177845606fd63ebf0b946a5
}

.container-information div div {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.container-information div div img {
  padding: 10px;
}
.ilustracion-eva {
  width: 380px;
  margin-top: 70px;
  height: auto;
  object-fit: cover;
  padding: 10px;
}
.container-queHacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  text-align: center;
  width: 200px;
  height: 300px;

  margin: 10px;
  justify-content: center;
}
.barra-azul {
  background: #1f96ab;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  padding: 20px;
}
.barra-azul p {
  padding: 10px;
}
.barra-azul a {
  color: white;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer p {
  font-weight: 500;
  color: #707070;
}

@media (max-width: 800px) {
  .tu-tienda-virtual {
    margin-top: 30px;
  }
  .icon-azul-linea {
    display: none;
  }
  .caja-parrafo-uno {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
  }
  .parrafo-quinto {
    width: 100%;
    margin: 10px 0px;
  }
  .parrafo-sexto {
    width: 100%;
    margin: 10px 0px;
  }
}
